<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Assigned Responsibilities to Functions</title>
 <link rel="stylesheet" type="text/css" media="all" href="../../static/css/smcr.css" th:href="@{/css/smcr.css}"/>
</head>
<body>
     <div class="seedstarterlist" >
	<h2>Functions Responsibility</h2>
	<table>
		<thead>
			<tr>
				<th>Functions</th>
				<th>Functions Responsibility</th>
				<th>Peoples Responsibility</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="function : ${functionsResponsibility}">
				<td th:text="${function.function_code}">SMF1</td>
				<td>
					<table>
						<tbody>
							<tr th:each="item : ${function.functions_responsibility}">
								<td th:text="${item}">FCA1</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>
					<table>
						<tbody>
							<tr th:each="people : ${function.assigned_responsibilities}">
								<td th:text="${people.name}">98211</td>
								<td>
									<table>
										<tbody>
											<tr th:each="item : ${people.responsibility}">
												<td th:text="${item}">FCA1</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
				<tr th:remove="all">
				<td >SMF2</td>
				<td>
					<table>
						<tbody>
							<tr>
								<td>FCA2</td>
							</tr>
							<tr>	
								<td>PRA1</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>
					<table>
						<tbody>
							<tr>
								<td>98212</td>
								<td>
									<table>
										<tbody>
											<tr>
												<td >FCA2</td>
											</tr>
											<tr>	
												<td >PRA1</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
	<form action="#" th:action="@{/assign/assignmentANDallocation}"
		th:object="${applicableFunc}" method="post">
		<select th:field="*{function_code}" th:remove="all-but-first">
			<option th:each="function_code : ${prescribedFunctions}"
				th:value="${function_code}" th:text="${function_code}">SMF9</option>
			 <option>SMF3</option>	
			 <option>SMF4</option>
			 <option>SMF5</option>
		</select>
		<ul th:remove="all-but-first">
			<li th:each="responsibility : ${responsibilities}"><input
				type="checkbox" th:field="*{functions_responsibility}"
				th:value="${responsibility.code}" /> <label
				th:for="${#ids.prev('functions_responsibility')}"
				th:text="${responsibility.name}">Compliance with the
					requirements of the responsibilities map</label></li>
			<li>
			    <input type="checkbox" /> 
			    <label>Firm's obligations under the senior management regime</label>
			 </li>
			 <li>
			    <input type="checkbox" /> 
			    <label>Firm's obligations under the employee certification regime</label>
			 </li>
		</ul>

	</form>

	<a href="../home.html" th:href="@{/home}">Home</a>
			
</body>
</html>