<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Classification Added!</title>
         <link rel="stylesheet" type="text/css" media="all" href="../../static/css/smcr.css" th:href="@{/css/smcr.css}"/>
    </head>
    <body>
        <h1>Classification List</h1>
        <table>
        <tr>
        <th>Code</th>
        <th>Classification_Name</th>
        </tr>
        <tr th:each="classification : ${allClassifications}">
        <td th:text = "${classification.code}" >smr</td>
         <td th:text = "${classification.classification_name}" >Senior Manager</td>
        </tr>
        <tr th:remove="all">
          <td>hcm</td>
           <td>HR Manager</td>
         </tr> 
          <tr th:remove="all">
          <td>tech</td>
           <td>Tech Support</td>
         </tr> 
        </table>
        
          <a href="addClassification.html" th:href="@{addClassification}"
			th:text="#{home.back}">Back</a> 
		
		 <a href="../home.html" th:href="@{/home}" th:text="#{home.homeLink}">Home</a>	 
    </body>
</html>